.container-result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.upper-logo {
  padding-top: 1rem;
  width: 20%;
  display: block;
  margin: auto;
}
.title-result {
  margin: 1rem 0;
  text-align: center;
}
