.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: var(--border-radius-box);
  text-decoration: none;
  color: var(--color-text-black);

  .article-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color-background-lightGrey);
    width: 80%;
    overflow: hidden;
    border-radius: 2rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.8rem 1rem;
  }

  .card h2 {
    font-size: 1.2rem;
  }

  .card h3 {
    font-size: 1rem;
  }

  img {
    max-width: 15%;
    height: auto;
  }
}

.article-card:hover {
  box-shadow: var(--shadow-thin-right);
  -webkit-box-shadow: var(--shadow-thin-right);
  -moz-box-shadow: var(--shadow-thin-right);
}
