.recherche {
  .barre-recherche {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    .input-field {
      width: 15rem;
    }
  }
  .card-section {
    margin-top: 0.5rem;
  }
}
