.carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  .carousel-img {
    max-width: 90%;
    height: 14rem;
    object-fit: cover;
    border-radius: var(--border-radius-img);
  }
}
